In [ ]:
Python database connectivity : SQLite3 is a database which can be integrated with python using the 
dqlite3 module that provides an SQL  interface and is available in python version 2.5 and above
by deafault 


sqlie3 module routines

In [8]:
run crazy.py

AAJ to b'day  hai!!!
Internal- Ghar main party ghar wale se

In [7]:
import crazy

AAJ to b'day  hai!!!
External- mujhe party deni padegi

In [ ]:
Python database connectivity : SQLite3 is a database which can be integrated with python using the 
dqlite3 module that provides an SQL  interface and is available in python version 2.5 and above
by deafault 


sqlie3 module routines

1. sqlite3.connect(database [,timeout, other_args]) - default timeout is 5 sec
2. connection.cursor([cursorClass])
3. cursor.execuete(sql[,optional parameters])
4. connection.execute(sql,[,optional parameters]) - shortcut to the above method 
5. cursor.executemany(sql,seq_of_parameters) -
6. connection.executemany(sql, seq_of_parameters)
7. cursor.executescript(sql_script)
8. connection.

In [9]:
#Connecting to database
import sqlite3
conn= sqlite3.connect("test.db")
print("Oppened Databse Successfully")

Oppened Databse Successfully

In [12]:
#Create Table
import sqlite3
conn= sqlite3.connect("test1.db")
print("Oppened Databse Successfully")
conn.execute("""create table company
             (id int primary key not null,
              name text not null,
              age int not null,
              address char(50),
              salary real)""")
print("Table created successfully")
conn.close()

Oppened Databse Successfully
Table created successfully

In [13]:
#Insert values in table
import sqlite3
conn= sqlite3.connect("test1.db")
print("Oppened Databse Successfully")
conn.execute("""insert into company (id, name, age, address, salary)
                values(101, 'Sonu', 21, 'NIBM', 25000)""")
conn.execute("""insert into company (id, name, age, address, salary)
                values(102, 'Monu', 22, 'PUNE', 35000)""")
conn.execute("""insert into company (id, name, age, address, salary)
                values(103, 'Golu', 18, 'GHAR', 28000)""")
conn.execute("""insert into company (id, name, age, address, salary)
                values(104, 'Molu', 20, 'Bihar', 32000)""")
conn.commit()

print("Records succesfully inserted")
conn.close()

Oppened Databse Successfully
Records succesfully inserted

In [16]:
#Print values using the SELECT clause
import sqlite3
conn= sqlite3.connect("test1.db")
print("Oppened Databse Successfully")

cursor= conn.execute("select id, name, age, address , salary from company")
for i in cursor:
    print(f'id => {i[0]}')
    print(f'name => {i[1]}')
    print(f'age => {i[2]}')
    print(f'address=> {i[3]}')
    print(f'salary=> {i[4]}')
    print(i)
    print()

print("Records succesfully inserted")
conn.close()

Oppened Databse Successfully
id => 101
name => Sonu
age => 21
address=> NIBM
salary=> 25000.0
(101, 'Sonu', 21, 'NIBM', 25000.0)

id => 102
name => Monu
age => 22
address=> PUNE
salary=> 35000.0
(102, 'Monu', 22, 'PUNE', 35000.0)

id => 103
name => Golu
age => 18
address=> GHAR
salary=> 28000.0
(103, 'Golu', 18, 'GHAR', 28000.0)

id => 104
name => Molu
age => 20
address=> Bihar
salary=> 32000.0
(104, 'Molu', 20, 'Bihar', 32000.0)

Records succesfully inserted